@import "../../../styles/color.common.scss";

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: $white;
  overflow: hidden;

  &__icon {
    fill: none;
    animation: rotate 3s infinite linear;
  }

  &__icon {
    width: 36px;
    height: 36px;

    @media screen and (min-width: 500px) {
      width: 100px;
      height: 100px;
    }
  }

  &__circle {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-width: 2;
    animation: circle-paint 2s infinite linear;
  }

  &__circle {
    stroke: $grey86;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-paint {
  0% {
    stroke-dashoffset: 70;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -70;
  }
}
