$white: #ffffff;

$grey86: #828286;
$greyB9: #a4a9b9;
$greyA9: #a6a5a9;
$greyC1: #c1c1c1;
$greyD2: #cdcfd2;
$greyE3: #e3e3e3;

$blueDC: #0d5adc;
$blueFC: #f4f9fc;

$green5B: #36935b;

$black: #3b4157;
