@import "../../../../styles/vars.common.scss";

.phones-table {
  width: 100%;

  &__wrapper {
    width: 100%;
  }

  &__row {
    display: flex;
    gap: min(2vw, $trGap);
    align-items: flex-end;
  }

  &__row > * {
    width: clamp(160px, 17.5vw, $tdWidth);
  }

  &__phone {
    width: 150px;
  }
}
