.phone {
  position: relative;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-right: 10px;

  &__img {
    width: 70px;
    height: 120px;
    object-fit: fill;
    object-position: center;
  }

  &__name {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
  }

  &__select {
    position: absolute !important;
    top: 45%;
    right: 0;
  }
}
