@import "../../../../../styles/vars.common.scss";

.phone {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  width: max-content;

  &__info {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__img {
    width: calc(90px * var(--scale));
    height: calc(120px * var(--scale));
    object-fit: contain;
    object-position: center;
  }

  &__name {
    font-weight: 500;
    letter-spacing: -0.03rem;
    font-size: calc(1.8rem * var(--scale));
    line-height: calc(2.1rem * var(--scale));
    max-width: calc(200px * var(--scale));
    text-align: center;
  }
}
